body {
    background-color: #000000;
    color: white;
    background-image: url('images/solar_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.hdr-main {
    margin: 20px auto 0px auto; 
    justify-content: center;
    align-self: center;
    align-content: center;
    font-weight: bolder;
    font-size: 3rem;
    display: flex;
    flex: 1;
    width: 90%;
    height: 3.5rem;
    /* border: 1px solid white; */
}
.container {
  color: transparent;
    background-color: rgba(0, 0, 0, 0.671);
    /* border: 1px white solid; */
    border-radius: 32px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90%;
    height: 80vh;
    margin: 20px auto 0px auto;
}
.container:hover {
  color: white;
  transition: 0.5s ease;
}
.container-img {
  background-color: #000000;
  scale: 0.9;
  transition: 0.5s ease;
    border: 1px white solid;
    border-radius: 18px;
    display: block;
    width: 90%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#s {
  font-size: 15px;
  font-weight: lighter;
}
.container-txt {
  transition: 0.5s ease;
  font-size: 110%;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  border-radius: 18px;
  padding: 5px 10px;
  /* border: 1px white solid; */
  display: flex;
  align-items: center;
  width: 85%;
  height: 25%; 
}
.container-img:hover {
  scale: 1;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px 5px white;

}
button {
  box-shadow: 5px 4px 5px 0px rgba(207, 207, 207, 0.75);
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 30px;
  font-weight: bold;
  font-size: 23px;
  border: none;
  color: #d8d8d8;
  transition: .5s ease-in-out;
  background-color: #141414;
  width: 158px;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}
button:hover {
  scale: 1.009;
  box-shadow: -5px 4px 5px 0px rgba(128, 128, 128, 0.75);
  background-color: #d8d8d8;
  color: #141414;
  transition: .5s ease-in-out;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #fcfcfcae; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #f7f7f7c0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #858585; 
}