body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/index-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fcfcfcae; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f7f7f7c0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #858585; 
}
.container {
    /* background-color: #000000; */
    /* border-top: 3px white solid; */
    border-radius: 3px;
    display: flex;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    flex-direction: row;
    /* border: 5px white solid; */
    width: 90%;
    margin: 68px auto;
    height: auto;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
}
.box1 video {
    margin-top: 30px;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 17px 13px rgba(0,0,0,0.89) inset;
    -webkit-box-shadow: 0px 0px 17px 13px rgba(0,0,0,0.89) inset;
    -moz-box-shadow: 0px 0px 17px 13px rgba(0,0,0,0.89) inset;
    background-color: #00000000;
    width: 100%;
    height: 75vh;
    object-fit: cover;
}
/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    mix-blend-mode: multiply;
} */
.box2 {
    flex-direction: column;
    margin: 0 auto 0 0;
    height: 70vh;
    width: 38%;
    /* border: 3px white solid; */
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
.header1 {
    box-sizing: border-box;
    margin: 0 auto 0 0;
    height: 68%;
    width: 90%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
.buttonex {
    box-sizing: border-box;
    margin: 0 auto;
    height: 28%;
    width: 90%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 50px;
    text-align: left;
    margin: 100px 0 0 0;
}
h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: left;
    margin: 0;

}
#explore-btn {
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    display: flex;
    align-self: center;
    top: 30%;
    margin: 0 auto;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    padding: 20px 35px;
    word-spacing: 6px;
    letter-spacing: 4px;
    color: white;
    background-color: #8e9cbc;
    border: transparent;
    border-radius: 25px;
}
#explore-btn:hover {
    background-color: #5d3f77;
    top: 28%;
    transition: 0.3s;
}
.space-img {
    display: flex;
    width: 70%;
    height: 93%;
    transition: 0.5s ease;
    animation: space-img-hover 2s infinite;

}
@keyframes space-img-hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 9vh;
    width: 70%;
    /* border: 1px white solid; */
    margin: 0 auto;
  }
  
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
  
.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
  
.flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
img {
    transform: scale(1);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
img:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;

}
#git {
    width: 115px;
    height: 30px;
}
#sti {
    width: 70px;
    height: 38px;
}
#ref {
    width: 110px;
    height: 54px;
}
