body {
    background-color: #000000;
    background-image: url("images/spacee.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fcfcfcae; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f7f7f7c0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #858585; 
}
.container {
    border-top: 3px white solid;
    border-radius: 3px;
    display: flex;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    flex-direction: row;
    /* border: 5px white solid; */
    width: 90%;
    margin: 68px auto;
    height: 80vh;
    padding: 0;
}
.star-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: twinkle 1s ease-in-out infinite alternate;
}
.box1 {
    padding: 0;
    margin: 0px 0px 0px auto;
    height: 75vh;
    width: 50%;
    /* border: 3px white solid; */
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
.box2 {
    flex-direction: column;
    margin: 0 auto 0 0;
    height: 70vh;
    width: 38%;
    /* border: 3px white solid; */
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
.header1 {
    box-sizing: border-box;
    margin: 0 auto 0 0;
    height: 68%;
    width: 90%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
.buttonex {
    box-sizing: border-box;
    margin: 0 auto;
    height: 28%;
    width: 90%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 50px;
    text-align: left;
    margin: 100px 0 0 0;
}
h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: left;
    margin: 0;

}
#explore-btn {
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    display: flex;
    align-self: center;
    top: 30%;
    margin: 0 auto;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    padding: 20px 35px;
    word-spacing: 6px;
    letter-spacing: 4px;
    color: white;
    background-color: #8e9cbc;
    border: transparent;
    border-radius: 25px;
}
#explore-btn:hover {
    background-color: #a78cbe;
    top: 28%;
    transition: 0.3s;
}
.space-img {
    display: flex;
    width: 70%;
    height: 93%;
    transition: 0.5s ease;
    animation: space-img-hover 2s infinite;

}
@keyframes space-img-hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width: 600px) {
    .container {
        flex-direction: row;
        overflow: scroll;
    }
}
