body {
    background: linear-gradient(to right, #004AAD, #4A0488);
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6236f3ae; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b949b9c0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #350075; 
}
@keyframes loadAnim {
    0% {
        margin-top: 30px;
        opacity: .4;
    }
    100% {
        margin-top: 50px;
        opacity: 1;
    }
    
}
@keyframes loadAnim2 {
    0% {
        opacity: .3 ;
    }
    100% {
        opacity: 1;
    }
    
}
.header {
    width: fit-content;
    margin: 50px auto 0 74px;
    animation: loadAnim 0.8s ease-out;
    transition: 0.5s;
    padding: 0;
    position: relative;
    display: absolute;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
}
#header-txt {
    margin: 0;
    font-size: 40px;
}
.container {
    animation: loadAnim2 0.8s ease-out;
    display: flex;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    flex-direction: row;
    border: 5px white solid;
    width: 90%;
    margin: 0 auto;
    height: 80vh;
    padding: 0;
}
.box1 {
    
    margin: 0 auto;
    height: 75vh;
    width: 38%;
    border: 3px white solid;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
.box2 {
    margin: 0 auto;
    height: 70vh;
    width: 58%;
    border: 3px white solid;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}

.box-title {
    display: flex;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 50px;
    margin: auto;
    margin-top: 5%;
    padding: 0;
    font-weight: bolder;
    border: 3px white solid;
    width: 95%;
    height: 25%;
}

.box-content {
    display: flex;
    justify-content: left;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    margin: 3% auto;
    padding: 0;
    border: 3px white solid;
    width: 95%;
    height: 65%;
}

a {
    text-decoration: none;
    color: #87ea98;
}
a:hover {
    text-decoration: none;
    color: #68c477;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}