body {
    background-color: #000000;
    background-image: url("images/spacee.png");
    background-position: center;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #fcfcfcae; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #f7f7f7c0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #858585; 
}
@keyframes loadAnim {
    0% {
        margin-top: 30px;
        opacity: .4;
    }
    100% {
        margin-top: 50px;
        opacity: 1;
    }
    
}
@keyframes loadAnim2 {
    0% {
        opacity: .3 ;
    }
    100% {
        opacity: 1;
    }
    
}
.header {
    width: fit-content;
    margin: 50px auto 0 74px;
    animation: loadAnim 0.8s ease-out;
    transition: 0.5s;
    padding: 0;
    position: relative;
    display: absolute;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
}
#header-txt {
    margin: 0;
    font-size: 40px;
}
.container, .container-2, .container-3, .cmb-box {
    animation: loadAnim2 0.5s ease-out;
    display: flex;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    flex-direction: row;
    border-top: 3px white solid;
    border-radius: 3px;
    width: 90%;
    margin: 0 auto;
    height: 80vh;
    padding: 0;
}
#header-txt {
    cursor: unset;
}
.box1, .box-content3{
    
    margin: 0 auto;
    height: 75vh;
    width: 38%;
    border: 3px white transparent;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
.box2, .box4 {
    background-color: #000000;
    margin: 0 auto;
    height: 70vh;
    width: 58%;
    border: 3px white solid;
    border-radius: 10px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    cursor: pointer;
    transition: .5s;
}
.box2:hover, .box-img:hover, .box4:hover {
    border: 3px #6599b6 solid;
    transition: 0.5s;
    transform: rotate(1deg);
    box-shadow: 0px 0px 43px 14px rgba(183, 183, 240, 0.63);
    -webkit-box-shadow: 0px 0px 43px 14px rgba(183, 183, 240, 0.63);
    -moz-box-shadow: 0px 0px 43px 14px rgba(183, 183, 240, 0.63);
}
.box2:active, .box-img:active, .box4:active {
    border: 3px #e0f3ff solid;
    transition: 0.5s;
    transform: rotate(-1deg);
    box-shadow: 0px 0px 33px 14px rgba(215, 215, 247, 0.833);
    -webkit-box-shadow: 0px 0px 33px 14px rgba(228, 228, 255, 0.833);
    -moz-box-shadow: 0px 0px 33px 14px rgba(232, 232, 255, 0.833);
}
.box-title, .box-title-2 {
    display: flex;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 50px;
    margin: auto;
    margin-top: 5%;
    padding: 0;
    font-weight: bolder;
    border: 3px white transparent;
    width: 95%;
    height: 25%;
    z-index: -1;
}
#img-content, #img-content2, #img-content3 {
    border-radius: 30px;
    width: 100%;
    height: 92%;
    object-fit: contain;
}
#img-content:active, #img-content2:active, #img-content3:active {
    opacity: .5;
    transition: .5s;
}
p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: lighter;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.box-content, .cmb-content{
    overflow-y: auto;
    display: flex;
    justify-content: left;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    margin: 3% auto;
    padding: 0;
    border: 3px white transparent;
    width: 95%;
    height: 65%;
}
.box-content-2, .cmb-txt{
    overflow-y: auto;
    display: flex;
    justify-content: left;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    margin: 1% auto;
    padding: 0;
    border: 3px white transparent;
    width: 95%;
    height: 65%;
}
a {
    text-decoration: none;
    color: #87ea98;
}
a:hover {
    text-decoration: none;
    color: #68c477;
}

@media (max-width: 600px) {
    body {
        flex-direction: row;
        overflow: scroll;
    }
}

.container-ppl, .container-ppl2, .bang-ppl {
    flex-wrap: wrap;
    display: flex;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    flex-direction: row;
    /* border-top: 3px white solid;
    border: 5px white solid; */
    border-radius: 3px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
    height: 85vh;
    padding: 0;
}
.bang-ppl {
    height: 85vh;
}
.ppl-title, .ppl-title2, .bangppl-hdr {
    display: flex;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 50px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 0;
    font-weight: bolder;
    width: 95%;
    height: 12%;
    z-index: -1;
}
.bangppl-hdr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: -6%;
    /* border: 5px white solid; */
    height: fit-content;
}
.ppl-1, .ppl-2, .ppl-3, .ppl-4, .ppl-5, .ppl-6, .per-one, .per-two, .per-three {
    overflow-y: hidden;
    filter: brightness(90%);
    padding: 30px 6px 6px 6px;
    line-height: 20px;
    text-align: left;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: transparent;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 60vh;
    width: 25%;
    border-radius: 30px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    cursor: pointer;
    transition: .5s ease-in-out;
    margin: 0 auto;
}
.ppl-1 {
    background-image: url("images/hermann.jpg");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.ppl-2 {
    background-image: url("images/hoyle.jpg");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.ppl-3 {
    background-image: url("images/thomas.jpg");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.ppl-4 {
    background-image: url("images/richard-tolman.jpg");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.ppl-5 {
    background-image: url("images/MIT.jpg");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.ppl-6 {
    background-image: url("images/ruth.jpeg");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.per-one {
    background-image: url("images/lemaitre.png");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.per-two {
    background-image: url("images/hubble.jpg");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.per-three {
    background-image: url("images/arnobert.jpg");
    background-size: 100%;
    transition: .5s ease-in-out;
}
.ppl-1:hover, .ppl-2:hover, .ppl-3:hover, .ppl-4:hover, .ppl-5:hover, .ppl-6:hover, .per-one:hover, .per-two:hover, .per-three:hover {
    margin-top: -15px;
    filter: brightness(85%);
    color: white;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    overflow-y: auto;
    background-size: 100%;
    background-color: #ffff001d;
    transition: .5s ease-in-out;
}
#h-p {
    line-height: 45px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
.box-img {
    background-color: #000000;
    margin: 0 auto;
    height: 70vh;
    width: 58%;
    border: 3px white solid;
    border-radius: 10px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    cursor: pointer;
    transition: .5s;    
}
.box-content2 {
    
    margin: 0 auto;
    height: 75vh;
    width: 38%;
    border: 3px white transparent;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}
.pulsating-header, .cmb-title {
    display: flex;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 50px;
    margin: auto;
    margin-top: 5%;
    padding: 0;
    font-weight: bolder;
    border: 3px white transparent;
    width: 95%;
    height: 25%;
    z-index: -1;
    font-weight: bolder
}
.pulsating-text, .cmb-txt {
    overflow-y: auto;
    display: flex;
    justify-content: left;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    margin: 3% auto;
    padding: 0;
    border: 3px white transparent;
    width: 95%;
    height: 65%;
}
.cmb-imgbox {
    background-color: ;
    margin: 0 auto;
    height: 70vh;
    width: 58%;
    border: 3px white solid;
    border-radius: 10px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    cursor: pointer;
    transition: .5s;    
}
.cmb-content {
    
    margin: 0 auto;
    height: 75vh;
    width: 38%;
    border: 3px white transparent;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}